@value border, xs from "./ui-lib/sizing.module.css";
@value fontFamily, fontSizeMd, lineHeight, fontWeight from "./ui-lib/typography.module.css";
@value (
  lightForeground,
  lightForegroundSecondary,
  lightBackground,
  lightBackgroundSecondary,
  darkForeground,
  darkForegroundSecondary,
  darkBackground,
  darkBackgroundSecondary,
  stream0,
  stream1,
  stream2,
  stream3,
  stream4,
  stream5,
  stream6,
  stream7,
  stream8,
  stream9,
  stream10,
  stream11
) from "./ui-lib/theme.module.css";

:root {
  font-family: fontFamily;
  font-size: fontSizeMd;
  line-height: lineHeight;
  font-weight: fontWeight;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--foreground);
  background-color: var(--background);
  color-scheme: light dark;

  /* Default scheme colors */
  --foreground: lightForeground;
  --foreground-secondary: lightForegroundSecondary;
  --background: lightBackground;
  --background-secondary: lightBackgroundSecondary;

  --stream-color-0: stream0;
  --stream-color-1: stream1;
  --stream-color-2: stream2;
  --stream-color-3: stream3;
  --stream-color-4: stream4;
  --stream-color-5: stream5;
  --stream-color-6: stream6;
  --stream-color-7: stream7;
  --stream-color-8: stream8;
  --stream-color-9: stream9;
  --stream-color-10: stream10;
  --stream-color-11: stream11;

  --transition-duration: 100ms;
}

/* Light scheme colors */
@media (prefers-color-scheme: light) {
  :root {
    --foreground: lightForeground;
    --foreground-secondary: lightForegroundSecondary;
    --background: lightBackground;
    --background-secondary: lightBackgroundSecondary;
  }
}

/* Dark scheme colors */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground: darkForeground;
    --foreground-secondary: darkForegroundSecondary;
    --background: darkBackground;
    --background-secondary: darkBackgroundSecondary;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
}

button {
  cursor: pointer;
}

:global(#root) {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:focus-visible {
  outline: border solid var(--foreground);
  border-radius: xs;
}
