@import "./ui-lib/index.css";

:root {
  --max-width: 1280px;

  color: var(--foreground);
  background-color: var(--background);
  color-scheme: light;

  max-width: var(--max-width);
  margin: 0 auto;

  --stream-color-0: var(--color-royal-blue);
  --stream-color-1: var(--color-green);
  --stream-color-2: var(--color-dark-crimson);
  --stream-color-3: var(--color-royal-purple);
  --stream-color-4: var(--color-bronze);
  --stream-color-5: var(--color-green-teal);
}

body {
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
}
