@value border, xs from "./ui-lib/sizing.module.css";
@value fontFamily, fontSizeMd, lineHeight, fontWeight from "./ui-lib/typography.module.css";
@value (
  lightForeground,
  lightForegroundSecondary,
  lightBackground,
  lightBackgroundRaised,
  lightBackgroundRecessed,
  stream0,
  stream1,
  stream2,
  stream3,
  stream4,
  stream5
) from "./ui-lib/theme.module.css";

:root {
  font-family: fontFamily;
  font-size: fontSizeMd;
  line-height: lineHeight;
  font-weight: fontWeight;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--foreground);
  background-color: var(--background);
  color-scheme: light dark;

  /* Default scheme colors */
  --foreground: lightForeground;
  --foreground-secondary: lightForegroundSecondary;
  --background: lightBackground;
  --background-raised: lightBackgroundRaised;
  --background-recessed: lightBackgroundRecessed;

  --stream-color-0: stream0;
  --stream-color-1: stream1;
  --stream-color-2: stream2;
  --stream-color-3: stream3;
  --stream-color-4: stream4;
  --stream-color-5: stream5;

  --border-radius: xs;
  --transition-duration: 100ms;
}

/* Light scheme colors */
@media (prefers-color-scheme: light) {
  :root {
    --foreground: lightForeground;
    --foreground-secondary: lightForegroundSecondary;
    --background: lightBackground;
    --background-raised: lightBackgroundRaised;
    --background-recessed: lightBackgroundRecessed;
  }
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  user-select: none;
}

button {
  cursor: pointer;
}

:global(#root) {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:focus-visible {
  outline: border solid var(--foreground);
  border-radius: var(--border-radius);
}
