.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0;

  &:empty {
    padding: 0;
  }
}

.gap-xxs {
  gap: var(--sz-xxs);
}

.gap-xs {
  gap: var(--sz-xs);
}

.gap-sm {
  gap: var(--sz-sm);
}

.gap-md {
  gap: var(--sz-md);
}

.gap-lg {
  gap: var(--sz-lg);
}

.padH-xxs {
  padding-left: var(--sz-xxs);
  padding-right: var(--sz-xxs);
}

.padH-xs {
  padding-left: var(--sz-xs);
  padding-right: var(--sz-xs);
}

.padH-sm {
  padding-left: var(--sz-sm);
  padding-right: var(--sz-sm);
}

.padH-md {
  padding-left: var(--sz-md);
  padding-right: var(--sz-md);
}

.padH-lg {
  padding-left: var(--sz-lg);
  padding-right: var(--sz-lg);
}

.padV-xxs {
  padding-top: var(--sz-xxs);
  padding-bottom: var(--sz-xxs);
}

.padV-xs {
  padding-top: var(--sz-xs);
  padding-bottom: var(--sz-xs);
}

.padV-sm {
  padding-top: var(--sz-sm);
  padding-bottom: var(--sz-sm);
}

.padV-md {
  padding-top: var(--sz-md);
  padding-bottom: var(--sz-md);
}

.padV-lg {
  padding-top: var(--sz-lg);
  padding-bottom: var(--sz-lg);
}
