.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-recessed);
  border-radius: var(--border-radius);
  padding: var(--sz-sm);
}

.remove {
  position: absolute;
  top: var(--sz-sm);
  left: var(--sz-sm);
}

.label {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: anchor-center;
  gap: var(--sz-xs);

  .select:first-of-type {
    text-align: start;
  }

  .select:last-of-type {
    text-align: end;
  }
}

.select {
  appearance: unset;
  margin: unset;
  padding: var(--sz-xxs);
  border: unset;
  background-color: unset;
  max-width: var(--sz-xxl);

  color: var(--foreground);
  font-size: var(--font-sz-sm);
  text-overflow: ellipsis;
  text-align: center;
  opacity: 1;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
    text-decoration: underline;
  }
  transition: opacity var(--transition-duration);
}
