@value white from "../ui-lib/color.module.css";

.container {
  position: relative;
}

.canvas {
  width: 100%;
  height: 100%;
}

.upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: white;
  opacity: 0;
  text-align: center;
  transition: opacity 100ms;

  &:hover,
  &:focus {
    opacity: 0.75;
  }

  input {
    display: none;
  }
}
