@value sm from "../ui-lib/sizing.module.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: sm;

  &.disabled {
    background-color: darkgrey;
  }
}

.container.disabled {
  background-color: darkgrey;
}

.stream0 {
  background-color: var(--stream-color-0);
}

.stream1 {
  background-color: var(--stream-color-1);
}

.stream2 {
  background-color: var(--stream-color-2);
}

.stream3 {
  background-color: var(--stream-color-3);
}

.stream4 {
  background-color: var(--stream-color-4);
}

.stream5 {
  background-color: var(--stream-color-5);
}

.stream6 {
  background-color: var(--stream-color-6);
}

.stream7 {
  background-color: var(--stream-color-7);
}

.stream8 {
  background-color: var(--stream-color-8);
}

.stream9 {
  background-color: var(--stream-color-9);
}

.stream10 {
  background-color: var(--stream-color-10);
}

.stream11 {
  background-color: var(--stream-color-11);
}
