@value xxs, xs, sm, md, lg from "./sizing.module.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0;
}

.gap-xxs {
  gap: xxs;
}

.gap-xs {
  gap: xs;
}

.gap-sm {
  gap: sm;
}

.gap-md {
  gap: md;
}

.gap-lg {
  gap: lg;
}

.padH-xxs {
  padding-left: xxs;
  padding-right: xxs;
}

.padH-xs {
  padding-left: xs;
  padding-right: xs;
}

.padH-sm {
  padding-left: sm;
  padding-right: sm;
}

.padH-md {
  padding-left: md;
  padding-right: md;
}

.padH-lg {
  padding-left: lg;
  padding-right: lg;
}

.padV-xxs {
  padding-top: xxs;
  padding-bottom: xxs;
}

.padV-xs {
  padding-top: xs;
  padding-bottom: xs;
}

.padV-sm {
  padding-top: sm;
  padding-bottom: sm;
}

.padV-md {
  padding-top: md;
  padding-bottom: md;
}

.padV-lg {
  padding-top: lg;
  padding-bottom: lg;
}
