@value smd as sz-smd, md as sz-md from "./sizing.module.css";

.icon {
  display: inline-block;

  &.sm {
    width: sz-smd;
    height: sz-smd;
  }

  &.md {
    width: sz-md;
    height: sz-md;
  }
}
