@value black, lightgrey from "./color.module.css";
@value xxs from "./sizing.module.css";
@value fontSizeSm from "./typography.module.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 3rem;
}

.label {
  font-size: fontSizeSm;
}

.barrel {
  border-radius: 100%;
  background-color: lightgrey;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

.notch {
  width: 1px;
  background-color: black;
  height: 15%;
}
