.container {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
}

.iconButton {
  /* works better with :focus-visible styling */
  z-index: 1;
}

.input {
  appearance: textfield;
  -moz-appearance: textfield;
  background-color: unset;
  color: var(--foreground);

  border: unset;
  border-bottom: 1px solid var(--foreground-secondary);
  padding: var(--sz-xs);
  text-align: center;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.label {
  font-size: var(--font-sz-sm);
}
