@value xs from "./sizing.module.css";
@value fontSizeSm from "./typography.module.css";

.container {
  display: flex;
  flex-direction: column;
}

.controls {
  display: flex;
  flex-direction: row;
}

.iconButton {
  /* works better with :focus-visible styling */
  z-index: 1;
}

.input {
  appearance: textfield;
  -moz-appearance: textfield;

  border: none;
  border-radius: xs;
  padding: xs;
  text-align: center;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.label {
  font-size: fontSizeSm;
}
