@value xxs, xs from "./sizing.module.css";
@value fontSizeSm from "./typography.module.css";

.container {
  position: relative;
}

.tooltip {
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(xxs * -1));

  border-radius: xs;
  padding: xxs;
  background-color: rgb(from var(--background) r g b / 0.85);
  font-size: fontSizeSm;
  user-select: none;

  transition: opacity 100ms;
  transition-behavior: allow-discrete;
}

.visible {
  opacity: 1;
  display: unset;
}

.hidden {
  opacity: 0;
  display: none;
}

@starting-style {
  .visible {
    opacity: 0;
  }
}
